*{
  box-sizing: border-box;
}
.btn {
  background-color: var(--background-color);
  color: #222;
  padding: .5em 1em;
  border: none;
  outline: none;
  position: relative;
  cursor: pointer;
  
  --background-color: #e3e3e3;
  --border-size: 2px;
  --accent-color: #B091D4;
}  

.btn.btn-border-underline::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: var(--border-size);
  background-color: var(--accent-color);
  transition: transform 300ms ease-in-out;

  transform: scaleX(0);
}  

.btn.btn-border-underline:hover::before,
.btn.btn-border-underline:focus::before {
  transform: scaleX(1);
}   

.current{
  background: rgba(255, 255, 255, 0.243);
}

.card {
  background-color: #fff;
  color: #333;
  border-radius: 1rem;
  position: relative;
  padding: 40px 50px;
  margin: 20px 0;
}

.text-shadow-emph{
  text-shadow: 0 .4rem 1.2rem rgba(51, 51, 51, 0.786);

}  

.card_shadow{
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.4);
}

.card.reverse {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
}

.card h2 {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}  

.center_child{
  display: flex;
  align-self: center;
  margin: 0 auto;  
}

.center_parent{
  display: flex;
  justify-content: center;
  align-items: center;
}  

.flex_column{
  flex-direction: column;
}  

.home_body{
  min-height: 100%;
  min-width: 100%;
  
}    

.homebar{
  position: absolute;
  right: 0;
  margin-right: 2rem;
  margin-top: 2rem;
}  

.nav ul{
  display: flex;
  justify-content: space-around;
  list-style: none;  
}

.homebar ul li {
  margin-inline: 1rem;
  padding: 5px 10px;
}  

.navbar{
  position: sticky;
  background-color: rgba(166, 166, 166, 0.525);
  color: white;
  align-items: center;
}

.navbar ul {
  margin-bottom: 0;
  padding: 0;
  color: white;
  margin-right: 1rem;
  display: flex;
 justify-content: space-between;
}

.navbar ul li{
  padding: .2rem .5rem;
  color: white;
}

.navbar>svg{
  margin-left: 2rem;
}

.navbar>h3{
position: absolute;
left: 50%;
transform: translateX(-50%);
}


.hero{
  min-height: 80vmin ;
  width: 100%;
  background: url('../public/daniel-storek-JM-qKEd1GMI-unsplash.jpg') center bottom/cover no-repeat;
}  

.headline>h1{
  font-size: 3.5rem;
  color: #fff;
}  

.showcase{
  background: url('../public/ryan-plomp-jvoZ-Aux9aw-unsplash.jpg') center/cover no-repeat;
  min-height: 50vmin;
  width: 100%;
  box-shadow: 0rem -1rem 2rem rgba(0, 0, 0, 0.41);

}  

.link_reset{
  text-decoration: none;
  color: black;
}  

.link_reset:hover{
  color: black;
}  

.link{
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  transition: .2s ease-in-out;
}  

.link:hover{
  color: #B091D4;
}  

.productlist {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 2rem;
}  

.shoe_item{
  height: 30vmin;
  width: 30vmin;
  border-radius: .8rem;
  padding: 1rem 1rem;
  flex-flow:column wrap;
  justify-content: space-between;
}  

.shoe_inner{
  align-self: flex-start;
  color: white;
}  

.shoe_inner .series, .shoe_inner .price{
  font-weight: bold;
}  

.add_item{
  height: 30vmin;
  width: 30vmin;
  text-align: center;
  border-radius: 1rem;
  display: grid;
  place-items: center;
  background: linear-gradient(304deg, rgba(0,54,193,1) -13%, rgb(129, 77, 241) 100%);
  color: white;
  font-size: 1.2rem;
}

.product_body{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  padding: 5rem 5rem;
}

.ad_banner{
  height: 85vh;
  width: 13rem;
  background: url('../public/irene-kredenets-dwKiHoqqxk8-unsplash.jpg') center center/cover no-repeat;
}

.remove_btn{
  align-self: flex-end;
}

.shoe_body{
  display: flex;
  justify-content: center;
  padding: 3rem 0;
}

.shoe_showcase{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 70vh;
}

.shoe_page_image{
  height: 60vmin;
  width: 60vmin;
  background-color: pink;
}

.white_text{
  color: whitesmoke;
}

.description_banner{
  height: 60vmin;
  width: 30vh;
  padding: 1.5rem;
  border-radius: .5rem;
  background-color: #222;
  margin-left: 2rem;
  color: white;
}

.banner_text{
  font-size: 1.5rem;
}

.edit_btn{
  width: 100%;
  padding: 5px 0;
  border-radius: 1rem;
  background-color: rgb(0, 102, 255);
  text-align: center;
  transition: all .2s ease-in-out;
}

.edit_btn:hover{
  background-color:rgb(40, 126, 254); ;
}